map () Functions in the python-
The map() function applies a given items in all in the input list(or any other iterables) and return the map object. this is useful for transforming data in the list comprehensively.

In [1]:
def square(x):
    return x*x

In [2]:
square(10)

100

In [4]:
numbers= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
##lamda function with map()
numbers= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
##can we map multiple iterables
number1= [1, 2, 3]
number2= [4, 5, 6]

added_number = list(map(lambda x, y:x+y, number1, number2))

In [7]:
print(added_number)

[5, 7, 9]

In [8]:
#Map to convert list of string to integer
str_number= [1, 2, 3, 4, 5, 6]
int_number= list(map(int, str_number))
print(int_number)

[1, 2, 3, 4, 5, 6]

In [10]:
words = ["apple", "banana", "watermelon"]

upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'WATERMELON']

In [11]:
def get_name(person):
    return person["name"]


person= [
    {"name":"krish", "age":32 },
    {"name":"Nayak", "age":35 }   
]

list(map(get_name, person))

['krish', 'Nayak']