In [1]:
import numpy as np

## Data Type & Attributes

In [4]:
##Numpy's Main datatype is ndarray
a1 = np.array([1, 2, 3, 4 ])
a1

array([1, 2, 3, 4])

In [5]:
type(a1)

numpy.ndarray

In [6]:
a2= np.array([[1, 2, 3.0],
              [4, 5, 6.0]])
a3= np.array([[[1, 2, 3,4], 
              [5, 6, 7, 8], 
              [9, 10, 11, 12], 
              [12, 13,14,15]])

In [10]:
a2.shape

(2, 3)

In [11]:
a3.shape

(4, 4)

In [12]:
#Create Data Frame from Numpy array
import pandas as pd

In [17]:
df = pd.DataFrame(a2)

In [18]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0

##2. Creating numpy arrays