##Variables in Python

In [2]:
##Declaring & assinging the variables
age= 32
heights= 6.4
name= "Aashish"
is_student= True

##printing variable
print("Age :",  age )
print("Name :", name)
print("Heights :",  heights)

Age : 32
Name : Aashish
Heights : 6.4

In [5]:
##naming convetions
##variable name should be descriptive
##they must start with a letter or an "_" and contains letter, number or underscores

#valid variable name
first_name = "Aashish"
last_name= "gehlot"

#invalid name
#2age= 30
#first-name= "krish"

In [7]:
##Understanding variable types
print(type(age))
print(type(name))

print(type(first_name))

<class 'int'>
<class 'str'>
<class 'str'>

In [8]:
#Converting variable types
age= 32
print(type(age))

<class 'int'>

In [12]:
print(type(float(age)))
print(type(str(age)))
print(type(int(age)))

<class 'float'>
<class 'str'>
<class 'int'>

In [13]:
type(age)

int

In [ ]:
##Dynamic Typing